.portfolio__contact {
    background-color: var(--color-grey);
    margin: 15px 8px;
    border-radius: .4rem;
    padding: .5rem 1.5rem;
}

.portfolio__contact-row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid var(--color-white);
}

.portfolio__contact-row_img{
    margin-right: .8rem;
    background-color: var(--color-white);
    padding: 8px 7px;
    display: flex;
    border-radius: 4px;
    box-shadow: 9px 5px 11px -5px rgba(0, 0, 0, 0.2)
}

.portfolio__contact-row_img svg {
    font-size: 18px;
    color: orange;
}

.portfolio__contact-row_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

}

.mail-icon svg {
    color: #1093ff;
}
.location-icon svg {
    color: #EA4335;
}
.calender-icon svg {
    color: black;
}

.portfolio__contact-row_content p{

    font-family: var(--font-alt);
    color: var(--color-black);
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 22px;
    font-size: 12.5px;
}

.portfolio__contact-row_content a {
    font-family: var(--font-alt);
    color: var(--color-black);
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 20px;
    font-size: 14px;
    
}

.portfolio__contact-row_content a:hover {
    color: red;
}

@media screen and (max-width: 1150px) {
    .portfolio__contact{
        margin: 0.2rem 2.5rem;
    }
    .portfolio__contact-row{
        padding: 0.7rem;
    }

    .portfolio__contact-row_img{
        margin-right: 1.2rem;

    }
    .portfolio__contact-row {
        padding: 7px 0;
        border-bottom: 1px solid var(--color-white);
    }

    .portfolio__contact-row_content p {
        line-height: 20px;
        font-size: 12px;
    }
    .portfolio__contact-row_content a {
        line-height: 21px;
        font-size: 14px; 
    }
}

@media screen and (max-width: 640px){
    .portfolio__contact{
        margin: .5rem .5rem;
    }

    .portfolio__contact-row_content a {
        line-height: 17px;
        font-size: 13.4px; 
    }
}